#bodyContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
#cardContainer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.card{
    margin: 2%;
    color: white;
}
#content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.welcomePic{
    background-color: green;
}
#webTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}